.header {
  background-color: #003580;
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
}
.header-container {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}
.header-container-paddingChange {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 0px 0px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
}
.header-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.header-list-item.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}
.header-dsc {
  margin: 20px 0px;
}
.header-btn {
  background-color: #0071c2;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
}

.header-serach {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}
.header-icon {
  color: lightgray;
  cursor: pointer;
}
.header-search-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-search-item-input {
  border: none;
  outline: none;
}
.header-search-text {
  color: lightgray;
  cursor: pointer;
}
.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}
.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: -1px 3px 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 13px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 13px -1px rgba(0, 0, 0, 0.75);
}
.options-item {
  width: 200px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
}
.options-counter {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  color: black;
}
.options-counter-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}
.options-counter-btn:disabled{
  cursor: not-allowed;
}
